body{
	margin:0;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 3%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(3%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#container{
	position:relative;
	width:940px;
	margin:0 auto;
	height:900px;
}
#div_1
{
	width : 940px;
	top : 10px;
	height : 160px;
	position : absolute;
	left : 10px;
	overflow : hidden;
}

#image_5
{
	width : 460px;
	top : 0px;
	height : 160px;
	position : absolute;
	left : 60px;
	overflow : hidden;

}

#image_9
{
	width : 60px;
	top : 50px;
	height : 60px;
	position : absolute;
	left : 720px;
	overflow : hidden;

}

#image_10
{
	width : 60px;
	top : 50px;
	height : 60px;
	position : absolute;
	left : 820px;
	overflow : hidden;

}

#image_11
{
	width : 60px;
	top : 50px;
	height : 60px;
	position : absolute;
	left : 620px;
	overflow : hidden;

}

#video_2
{
	width : 630px;
	top : 300px;
	height : 360px;
	position : absolute;
	left : 70px;
	overflow : hidden;
	border : 1px solid;
	background-color : #666666;

}

#video_2_video
{
	height : 360px;
	width : 630px;

}

#image_3
{
	width : 160px;
	top : 560px;
	height : 100px;
	position : absolute;
	left : 730px;
	overflow : hidden;

}

#image_4
{
	width : 160px;
	top : 430px;
	height : 100px;
	position : absolute;
	left : 730px;
	overflow : hidden;

}

#textarea_6
{
	width : 630px;
	top : 190px;
	height : 90px;
	position : absolute;
	left : 70px;
	overflow : hidden;
	margin : 0;
	color : #575756;
	padding : 0;
	font-size : 12px;
	font-family : sans-serif;
	text-align : left;

}

#image_7
{
	width : 160px;
	top : 300px;
	height : 100px;
	position : absolute;
	left : 730px;
	overflow : hidden;

}

#textheader_8
{
	width : 692px;
	top : 705px;
	height : 139px;
	position : absolute;
	left : 116px;
	overflow : hidden;
	color : #575756;
	width : 100%;
	font-size : 60px;
	font-family : sans-serif;
	margin-top : 0;
	font-style:italic;

}

#textheader_8 a
{
	color : #575756;
	text-decoration : none;

}

